# appsettings.json model
{
  "Logging": {
    "LogLevel": {
      "Default": ...,
      "Microsoft.AspNetCore": ...
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": ...
  },
  "ConnectionStrings": {
    "DefaultConnection": <psql_connection_string>
  },
  "JWT": {
    "Issuer": <issuer_uri>,
    "Audience": <audience_uri>,
    "SigningKey": <jwt_key>
  },
}
