# appsettings.json model
{
  "Logging": {
    "LogLevel": {
      "Default": ...,
      "Microsoft.AspNetCore": ...
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": ...
  }
}
