@import '../../../index.css';

.main-header {
    padding: 28px 32px;
    background-color: var(--background-color);
    border-bottom: 2px solid white;

    h2 {
        font-size: 3rem;
        margin-bottom: 22px;
        cursor: default;
    }
}

.header-btn-list,
.account-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;

}

.header-btn-list button {
    max-width: 150px;
    padding-right: 35px;
    padding-block: 6px;
    font-size: 1.1rem;
    background: none;
    border: none;
    color: white;

    opacity: 0.8;
    cursor: pointer;
    transition: 150ms ease-in;

    &:hover {
        opacity: 1;
    }
}

#login-button:hover {
    color: var(--primary-color);
}

#register-button:hover {
    color: var(--primary-accent);
}
